extras/fonts/presets/preset.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="preset">
        <xsd:complexType>
            <xsd:sequence>
            <xsd:element name="font" type="font_node" minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="font_node">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" use="required" />
			</xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>